.container
{
    width: 800px;
    height: 400px;
    padding;20x;
    border: 1px solid gray;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    background: black;
}
.image-slider-wrapper
{
    width: 310px;
    height: 300px;
    overflow: hidden;
}
#image-slider
{
    position: relative;
    height: 300px;
    -webkit-transition: 0.5 left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#image-slider li
{
    float: left;
    max-width: 100%;
}